<?xml version="1.0" encoding="UTF-8"?>
<ruleset>
	<config name="installed_paths" value="vendor/vojtech-dobes/php-codestyle" />

	<file>src</file>
	<file>tests</file>

	<rule ref="Vojtechdobes" />
</ruleset>
