extensions:
  graphql: Vojtechdobes\GraphQL\Integrations\Nette\Extension

graphql:
  autoReload: %debugMode%

  fieldResolvers:
    Query.validNonNullString: Vojtechdobes\TestsShared\Resolvers\QueryValidNonNullStringFieldResolver()
    Query.invalidStringResolvedAsBool: Vojtechdobes\TestsShared\Resolvers\QueryInvalidStringResolvedAsBoolFieldResolver()
    Query.invalidArgumentsMismatch: Vojtechdobes\TestsShared\Resolvers\QueryInvalidArgumentsMismatchFieldResolver()
    Query.validDeferred: Vojtechdobes\TestsShared\Resolvers\QueryValidDeferredFieldResolver()

    Query.arrayType: Vojtechdobes\TestsShared\Resolvers\QueryArrayTypeFieldResolver()
    ArrayType: Vojtechdobes\GraphQL\ArrayFieldResolver()

    Query.objectType: Vojtechdobes\TestsShared\Resolvers\QueryObjectTypeFieldResolver()
    ObjectType.withGetter: Vojtechdobes\GraphQL\GetterFieldResolver()
    ObjectType.withProperty: Vojtechdobes\GraphQL\PropertyFieldResolver()

    Query.providerOfInvalidPersonParentTypeArray: Vojtechdobes\TestsShared\Resolvers\QueryProviderOfInvalidPersonParentTypeArrayFieldResolver()
    Query.providerOfInvalidPersonParentTypeEntity: Vojtechdobes\TestsShared\Resolvers\QueryProviderOfInvalidPersonParentTypeEntityFieldResolver()
    Query.providerOfInvalidPersonParentTypeThing: Vojtechdobes\TestsShared\Resolvers\QueryProviderOfInvalidPersonParentTypeThingFieldResolver()
    Query.providerOfValidPersonParentTypePerson: Vojtechdobes\TestsShared\Resolvers\QueryProviderOfValidPersonParentTypePersonFieldResolver()

    Query.providerOfInvalidEntityParentTypeArray: Vojtechdobes\TestsShared\Resolvers\QueryProviderOfInvalidEntityParentTypeArrayFieldResolver()
    Query.providerOfValidEntityParentTypeEntity: Vojtechdobes\TestsShared\Resolvers\QueryProviderOfValidEntityParentTypeEntityFieldResolver()
    Query.providerOfValidEntityParentTypePerson: Vojtechdobes\TestsShared\Resolvers\QueryProviderOfValidEntityParentTypePersonFieldResolver()
    Query.providerOfValidEntityParentTypeThing: Vojtechdobes\TestsShared\Resolvers\QueryProviderOfValidEntityParentTypeThingFieldResolver()

    Query.rootFieldWithParentBasedResolver: Vojtechdobes\GraphQL\PropertyFieldResolver()

    PersonParentType.name: Vojtechdobes\TestsShared\Resolvers\PersonParentTypeNameFieldResolver()
    EntityParentType.name: Vojtechdobes\TestsShared\Resolvers\EntityParentTypeNameFieldResolver()

    Query.validSelfReference: Vojtechdobes\TestsShared\Resolvers\QueryValidSelfReferenceFieldResolver()
    SelfReference.internalSelfReference: Vojtechdobes\GraphQL\PropertyFieldResolver()

  schemaPath: %schemaPath%
  tempDir: %tempDir%/graphql
